@import "~bootstrap/scss/bootstrap";

header{
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.12);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    h1{
        margin: 0;
        font-size: 22px;
        color: #f5801d;
        font-weight: 500;
        line-height: 36px;
        img{
            width: 60px;
            margin-right: 10px;
            float: left;
        }
    }
    .cart-btn{
        background-color: #eee;
        float: right;
        border: 0;
        border-radius: 50%;
        width: 37px;
        color: #0a58ca;
        height: 37px;
        font-size: 16px;
        text-align: center;
        padding: 0;
        cursor: pointer;
        .badge{
            position: absolute;
            top: -6px;
            background: #f5801d!important;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 11px;
            text-align: center;
            padding: 0;
            line-height: 20px;
        }
        &::after{
            display: none;
        }
        &:focus, &:active{
            box-shadow: none!important;
        }
        &:hover{
            background-color: #0a58ca;
            color: #fff
        }
    }
    .dropdown-menu{
        width: 300px;
        padding: 0;
        & > a{
            padding: 1rem;
            &:hover{
                background-color: inherit;
            }
            p{
                text-align: center;
                margin: 1rem;
                font-weight: 500;
            }
        }
        .checkout-btn{
            text-align: center;
            padding: 0 1rem 1rem;
            cursor: default;
            button{
                margin: auto;
                background-color: #f5801d;
                border: 0;
                color: #fff;
                border-radius: 30px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                padding: 0 20px;
                font-weight: bold;
            }
        }
    }
}