section.DeviceWrapper{
    width: 75%;
    border: solid 1px #eee;
    box-shadow: 0 0 5px rgba(0,0,0,.12);
    padding:2rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
@media only screen and (max-width: 1100px) {
    section.DeviceWrapper{
        width:100%;
        margin:0
    }
}